@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

:root {
  --primary: #ff4d30;
  --black: #010103;
  --lightblack: #2d2d2d;
  --gray: #706f7b;
}

.container {
  width: 100%;
  height: 100%;
  padding: 80px 0;
}

button {
  cursor: pointer;
}

.row {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0 28px;
}

a {
  text-decoration: none;
}

/* Navigation */
nav {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 20px;
}

.nav__image__wrapper {
  width: 145px;
}

.nav__image {
  width: 100%;
  height: 100%;
}

.nav__links {
  display: flex;
  gap: 20px;
}

.nav__link {
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  transition: 300ms ease;
}

.nav__link:hover {
  color: var(--primary);
}

.nav__buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav__button__register {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  background: var(--primary);
  border: none;
  color: white;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  transition: 300ms ease;
}

.nav__button__register:hover {
  background-color: rgb(250, 66, 38);
  box-shadow: rgba(255, 83, 48, 0.5) 0px 10px 15px 0px;
}

.nav__menu {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 24px;
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f8f8f8;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 200ms ease;
}

.menu__close {
  position: absolute;
  top: 44px;
  right: 32px;
  font-size: 20px;
  border: none;
  outline: none;
  background: transparent;
  color: var(--black);
  cursor: pointer;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.menu__link {
  color: var(--black);
  font-size: 24px;
  font-weight: 500;
}

.open .menu {
  opacity: 1;
  visibility: visible;
}

/* Header */
header {
  height: 100vh;
  background: rgb(248, 248, 248);
}

.header__row {
  display: flex;
  align-items: center;
  position: relative;
}

.header__bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.header__img__wrapper {
  position: absolute;
  z-index: 2;
  right: 0px;
  width: 65%;
  margin-top: 56px;
}

.header__img {
  width: 100%;
  height: 100%;
}

.header__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
  z-index: 3;
  margin-top: 56px;
}

.header__text__subtitle {
  font-size: 20px;
  font-weight: 700;
}

.header__text__title {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
}

.color-primary {
  color: var(--primary);
}

.header__text__paragraph {
  color: var(--gray);
  margin-top: 12px;
  margin-bottom: 28px;
}

.header__text__buttons {
  display: flex;
  gap: 16px;
}

.header__text__btn {
  font-size: 16px;
  font-weight: 700;
  padding: 18px 30px;
  border: none;
  outline: none;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 300ms ease;
}

.header__text__book {
  background-color: var(--primary);
  box-shadow: rgba(255, 83, 48, 0.35) 0px 10px 15px 0px;
}

.header__text__book:hover {
  background-color: rgb(250, 66, 38);
  box-shadow: rgba(255, 83, 48, 0.5) 0px 10px 15px 0px;
}

.header__text__learn {
  background-color: var(--black);
  border: 2px solid transparent;
}

.header__text__learn:hover {
  color: var(--black);
  border-color: var(--black);
  background-color: transparent;
}

/* Features */
#feature {
  background-color: white;
}

.features__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.features__subtitle {
  font-size: 24px;
  font-weight: 600;
}

.features__title {
  font-size: 42px;
}

.features__list {
  display: flex;
  padding: 0px 32px;
  margin-top: 36px;
  gap: 56px 120px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.feature__img__wrapper {
  width: 172px;
}

.feature__img {
  width: 100%;
  height: 100%;
}

.feature__title {
  font-size: 24px;
}

.feature__para {
  margin-top: 12px;
  color: var(--gray);
}

/* Banner */
#banner {
  background-color: var(--lightblack);
  color: white;
}

.banner__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 20px;
  gap: 16px;
  text-align: center;
}

.banner__title {
  font-size: 52px;
  line-height: 1.2;
}

.banner__subtitle {
  font-size: 24px;
  font-weight: 400;
}

/* Choose */
#choose {
  background-image: url(assets/choose-bg.png);
  background-repeat: no-repeat;
  background-position: -255px 255px;
  background-size: cover;
}

.choose__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.choose__img__wrapper {
  width: 100%;
}

.choose__img {
  width: 100%;
  height: 100%;
}

.choose__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.choose__text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.choose__text__subtitle {
  font-size: 22px;
  font-weight: 600;
}

.choose__text__title {
  font-size: 42px;
  line-height: 1.2;
}

.choose__text__para {
  margin-top: 12px;
  color: var(--gray);
}

.choose__text__btn {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 700;
  padding: 18px 30px;
  border: none;
  outline: none;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 300ms ease;
  width: fit-content;
  background: var(--primary);
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.3);
}

.choose__text__btn:hover {
  background-color: rgb(250, 66, 38);
  box-shadow: rgba(255, 83, 48, 0.5) 0px 10px 15px 0px;
}

.choose__features {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.choose__feature {
  display: flex;
  gap: 12px;
}

.choose__feature__img__wrapper {
  width: 110px;
  height: 110px;
}

.choose__feature__img {
  width: 110px;
  height: 110px;
}

.choose__feature__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.choose__feature__text__title {
  font-size: 24px;
}

.choose__feature__text__para {
  font-size: 15px;
  color: var(--gray);
}

/* Testimonials */
#testimonials {
  background: #f8f8f8;
}

.testimonials__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonials__subtitle {
  font-size: 22px;
  font-weight: 600;
}

.testimonials__title {
  font-size: 42px;
}

.testimonials__para {
  color: var(--gray);
  max-width: 700px;
  margin-top: 16px;
}

.testimonials__list {
  display: flex;
  margin-top: 80px;
  gap: 24px;
}

.testimonial {
  background: white;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0,08);
  max-width: 540px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 56px;
  gap: 40px;
}

.testimonial__review {
  font-size: 22px;
  text-align: left;
}

.testimonial__info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.testimonial__info__img__wrapper {
  width: 72px;
  height: 72px;
  border-radius: 9999px;
  overflow: hidden;
}

.testimonial__info__img {
  width: 100%;
  height: 100%;
}

.testimonial__info__profile {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.testimonial__info__name {
  font-size: 18px;
}

.testimonial__info__location {
  font-size: 16px;
  font-weight: 400;
}

.testimonial__info__icon {
  margin-left: auto;
  font-size: 48px;
  color: var(--primary);
}

/* Download */
#download {
  background-image: url(assets/download-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.download__text {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  gap: 20px;
}

.download__text__title {
  font-size: 42px;
}

.download__text__para {
  color: var(--gray);
}

.download__text__links {
  display: flex;
  gap: 32px;
}

.download__text__link {
  width: 40%;
}

.download__text__link__img {
  width: 100%;
  height: 100%;
}

/* Footer */
.footer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px;
}

.footer__content {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__intro {
  width: 25%;
}

.footer__intro__title {
  font-size: 24px;
}

.footer__intro__para {
  color: var(--gray);
}

.footer__intro__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__company__title, .footer__hours__title, .footer__email__title {
  font-size: 24px;
  text-transform: uppercase;
}

.footer__company__links, .footer__hours__list, .footer__email__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.footer__intro__link, .footer__company__link {
  color: var(--black);
  transition: 300ms ease;
}

.footer__intro__link:hover, .footer__company__link:hover {
  color: var(--primary);
}

.footer__email__form__input {
  height: 48px;
  padding: 0 16px;
  outline: none;
  border: none;
  background-color: #ececec;
}

.footer__email__form__submit {
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  outline: none;
  color: white;
  background: var(--primary);
  border-radius: 4px;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  transition: 300ms ease;
}

@media (max-width: 1280px) {
  .footer__row {
    gap: 48px;
  }

  .footer__content {
    width: 40%;
  }
}

@media (max-width: 1024px) {
  .nav__menu {
    display: block;
  }

  .nav__links, .nav__buttons {
    display: none;
  }

  .features__list {
    flex-wrap: wrap;
    gap: 40px;
  }

  .feature {
    width: 45%;
  }

  .choose__content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 48px;
  }

  .choose__text {
    align-items: center;
  }

  .choose__features {
    gap: 40px;
  }

  .testimonials__list {
    flex-direction: column;
    gap: 32px;
  }

  .features__list {
    flex-wrap: wrap;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  #download {
    background-image: none;
  }

  .download__row {
    display: flex;
    justify-content: center;
  }

  .download__text {
    align-items: center;
    text-align: center;
  }

  .download__text__links {
    justify-content: center;
  }

  .feature {
    width: 100%;
  }

  .header__bg, .header__img__wrapper {
    display: none;
  }

  .header__row {
    justify-content: center;
  }

  .header__text {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .footer__content {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .header__text__buttons {
    flex-direction: column;
    width: 100%;
  }
  .features__list {
    margin-top: 0;
  }

  .download__text__links {
    flex-direction: column;
    gap: 12px;
    margin-top: 8px;
  }

  .download__text__link {
    width: 100%;
  }

  .choose__feature {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
}

